include ../mixin/sub-menu.pug
header.header
    .container
        .row.align-items-center
            .col-3
                .inner-logo 
                    a(href="/")
                        img(src="/images/anh.png", alt="Logo")

            .col-search
                form(action="/search" method="GET" class="search-form")
                    div(class="input-group")
                        input(type="text" name="keyword" placeholder="Search products...")
                        button(type="submit" class="btn btn-primary") Tìm kiếm

            .col-menu
                .inner-menu
                    ul.menu-list
                        li
                            a(href="/") Home
                        li(class="sub-menu")
                            - const pathProduct = "/products"
                            a(href=pathProduct) Products
                            +sub-menu(newCategory, pathProduct)
                        li
                            a(href="/cart") Gio hang (#{cartTotalQuantity})

                    
                    // include menu toggle script to support touch and better hover
                    script(src="/js/menu-toggle.js")

