.admin-sidebar
	.sidebar-brand
	nav
		ul.nav
			li
				a(href='/admin/products') Sản phẩm
			li
				a(href=`${preFixAdmin}/product-category`) Danh mục sản phẩm
			li
				a(href=`${preFixAdmin}/roles`) Vai trò và quyền
			li
				a(href=`${preFixAdmin}/roles/permission`) Quản trị viên
			li
				a(href=`${preFixAdmin}/accounts`) Tài khoản người dùng