extends ../../layout/default.pug
include ../../mixin/alert.pug

block main
  .register-container
    h2 Đăng ký tài khoản
    
    +alert-error(3000)
    +alert(3000)

    form.register-form(action="/user/register" method="POST")
      .form-group
        label(for="fullName") Họ và tên
        input#fullName(type="text" name="fullName" placeholder="Nhập họ và tên" required)

      .form-group
        label(for="email") Email
        input#email(type="email" name="email" placeholder="example@gmail.com" required)

      .form-group
        label(for="password") Mật khẩu
        input#password(type="password" name="password" placeholder="Nhập mật khẩu" required)

      button.btn-submit(type="submit") Đăng ký